<body>
  <div> <h1> KYLE ALZAYADI</h1> 
   <h2> HOBBIES</h2>
</div> <div>
   <p id="btext"> One of my favorite hobbies is Basketball. I like to play 
       basketball at the YMCA in Hollywood with my friend and lots
       of other people there. 
   </p>
   <p id="ftext"> I like to play football too. I play at my school and go to 
       practice every day after class from monday through friday. I play
       Wide reciever, Safety,and the tight end positions.
   </p>
   <img src="/src/assets/basketball.jpg" id="bspot">
   <img src="/src/assets/football.jpg" id="fspot">
   </div>
   
   </body>
