
<div id="padding">
    <div *ngFor="let item of journals">
      <div class="blog-link" (click)="viewBlog(item._id)">
          {{item.title}}
      </div>
    </div>


<!-- <p *ngIf="!firstname.valid">
  Hey, not valid.
</p>  -->
<div>
   <form [formGroup]="form" (ngSubmit)="post()"> 
     <label>
        Title:
     <input type="text" placeholder="Enter Title Here" formControlName="title"> 
    </label>
    <label>
       Entry:
     <input type="text"  placeholder="Enter Entry Here"  formControlName="content"> 
    </label>
     <button type="submit"> Post</button>
    </form> 
  </div>
  <div style="text-align:center">
      <button  (click)="getData()" >dsfdsfsdfsdf</button>
    </div>
 

 

